subscription_id     = "00000000-0000-0000-0000-000000000000"
resource_group_name = "rg-cookbook-appservice-example"
location            = "uksouth"
workspace_name      = "law-cookbook-example-001"
insights_name       = "appi-cookbook-example-001"
plan_name           = "asp-cookbook-example-001"
app_name            = "replace-with-globally-unique-name"
sku_name            = "B1"
python_version      = "3.12"
